---
import Breadcrumbs from "@/components/Breadcrumbs.astro"
import Link from "@/components/Link.astro"
import PageHead from "@/components/PageHead.astro"
import ProjectCard from "@/components/ProjectCard.astro"
import Layout from "@/layouts/Layout.astro"
import { getAllProjects } from "@/lib/data-utils"
import { Image } from "astro:assets"

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: "About", icon: "lucide:info" }]} />

  <section>
    <Link href="https://osu.ppy.sh/users/14709263" class="flex justify-center">
      <Image
        src="https://osu-sig.vercel.app/card?user=14709263&mode=std&lang=en&blur=6&animation=true"
        alt="osu! profile card"
        class="pointer-events-none"
        width={550}
        height={320}
      />
    </Link>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mb-4">Nothing to say, but let you know that I'm so stupid.</p>
      </div>
      <!--
      <h2 class="mb-4 text-2xl font-medium">Example Projects Listing</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
      -->
    </div>
  </section>
</Layout>
