---

---

<div class="giscus col-start-2"></div>

<script
  is:inline
  data-astro-rerun
  src="https://giscus.app/client.js"
  data-repo="aeongchan/homepage"
  data-repo-id="R_kgDOLhEfjQ"
  data-category="Comments"
  data-category-id="DIC_kwDOLhEfjc4CeAsR"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="ko"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
